// Primary Colors
$primary-color: #3498db;
$primary-light: #5dade2;
$primary-dark: #2c3e50;

// Secondary Colors
$secondary-color: #e74c3c;
$secondary-light: #f1948a;
$secondary-dark: #c0392b;

// Neutral Colors
$white: #ffffff;
$black: #000000;
$gray-light: #ecf0f1;
$gray-dark: #7f8c8d;

// Utility Colors
$success: #2ecc71;
$warning: #f1c40f;
$error: #e74c3c;
$info: #3498db;

//fonts

$font-poppins: 'Poppins', sans-serif;