@use '@/styles/config' as config;

.input-wrapper {
    width: 100%; /* Ensure the wrapper takes up the full width */
    max-width: 200px; /* Optional: Limit the maximum width */
    margin: 0 auto; /* Center the input if needed */
    margin: 4px;

    input {
        width: 100%;
        padding: 8px;
        border-radius: 4px;
        border: 1px solid config.$color-gray-dark;
        font-family: config.$font-family-poppins;
        font-size: 16px;
        color: config.$color-black;
        background-color: config.$color-white;

        &:focus {
            outline: none;
            // border-color: config.$blue;
            // box-shadow: 0 0 0 2px config.$blue-200;
        }
    }

    .required-wrapper {
        color: white;
        color: config.$color-error;
        font-size: 12px;
        min-height: 16px;
    }

    &:empty {
        opacity: 0;
    }
}

